body {background-color: black; color: white; text-align: center}

#imageborder {border-style: double; border-width: 15px; border-color: red}

#videoborder {border-style: solid; border-width: 15px; border-color: red}

